@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat&family=Raleway&display=swap');

a{
  color: white;
  text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

iframe{
  display: block;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(109.76deg, #2a283b 36.98%, #757b85 99.95%);
}

.logo{
  display: flex;
  align-items: center;
}
.logoimg{
  width: 120px;
  padding: 15px;
}

img:hover{
  animation: img 2s infinite;
}

@keyframes img {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

header{
  background-color: #959BB6;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

h1{
  font-family: 'Raleway', sans-serif;
  color: #F9F8F7;
  font-size: 32px;
}

.navi{
  color: #F9F8F7;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  display: inline-flex;
  margin-left: 25px;
}

nav{
  margin-left: 1000px;
}

a:hover{
  text-decoration: underline;
  animation: img 1s infinite;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #959BB6;
}

.bx-wrapper {
  width: 775px;
}

@keyframes changeColor1 {
  0%, 100% {
    color: #959BB6;
  }
  50% {
    color: #F9F8F7;
  }
}

@keyframes changeColor2 {
  0%, 100% {
    color: #E32928;
  }
  50% {
    color: #F9F8F7;
  }
}

@keyframes changeColor3 {
  0%, 100% {
    color: #1F8FD3;
  }
  50% {
    color: #F9F8F7;
  }
}

@keyframes changeColor4 {
  0%, 100% {
    color: #B54ACF;
  }
  50% {
    color: #F9F8F7;
  }
}

@keyframes changeColor5 {
  0%, 100% {
    color: #26A784;
  }
  50% {
    color: #F9F8F7;
  }
}

@keyframes changeColor6 {
  0%, 100% {
    color: #4D48BA;
  }
  50% {
    color: #F9F8F7;
  }
}

@keyframes changeColor7 {
  0%, 100% {
    color: #E4B60B;
  }
  50% {
    color: #F9F8F7;
  }
}

span{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #F9F8F7;
}

b {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.path{
  width: 984px;
  height: 689px;
  background-color: #F9F8F7;
}

.transition img{
  width: 120px;
  height: 123px;
  margin-right: 38px;
}

.transition img:hover{
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.elements{
  width: 862px;
}

.elements p {
  color: #F9F8F7;
  font-size: 24px;
  display: inline-flex;
}

.stats{
  width: 869px;
}

.stats p{
  color: #F9F8F7;
  font-size: 24px;
}

footer{
  background-color: #959BB6;
  height: 92px;
}
footer p{
  color:#F9F8F7;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}

.guid{
  margin-top: 40px; 
  margin-left: -150px;
  font-family: 'Alex Brush', cursive;
}

.menu {
  width: calc(100% - 4em);
  height: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em;
}

.menu_item {
  margin-right: 1em;
  display: flex;
}

.menu_small_icon {
  display: none;
}

.menu-small {
  display: none;
  height: 2em;
}

.menu_small_item {
  display: none;
}

.stick {
  width: 80%;
  height: 5px;
  background: white;
}

.inner {
  padding: 1em 0 0 0;
  width: 60%;
  height: auto;
}

@media (max-width: 1300px) {
  nav{
    margin-left: 10px;
  }
  .logoimg{
    width: 90px;
  }
  h1{
    font-size: 30px;
  }
  .guid{
    margin-top: 30px; 
    margin-left: -160px;
    font-size: 40px;
  }

  .transition img{
    width: 90px;
    height: 100px;
  }
  
  .elements img{
    margin-left: 50px;
  }

  .menu {
    display: none;
}

.menu-small {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vw;
    top: 0;
    padding: 0;
    position: absolute;
    background: #2a283b;
    transform: translateX(300%);
}

.menu_small_item {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_small_item:first-child {
    padding-top: calc(50px + 2em);
}

.menu_small_icon {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 50px;
    height: 50px;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.inner {
    padding-top: calc(50px + 2em);
}

.inner p {
    margin: 0
}
}